<?php
define('ZF2_PATH', __DIR__ . '/../vendor/zendframework/zendframework/library');

return [
    'modules' => [
        'ZfSnapGeoip',
    ],
    'module_listener_options' => [
        'config_glob_paths' => [
            __DIR__ . '/config/{,*.}tests.php',
        ],
    ],
];
