<?php

define('ZF2_PATH', __DIR__ . '/../vendor/zendframework/zendframework/library');

return array(
    'modules' => array(
        'ZfSnapGeoip',
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(
            'config/{,*.}tests.php',
        ),
    ),
);