<?php

define('ZF2_PATH', getenv('HOME') . '/www/zend2.local/vendor/zendframework/zendframework/library');

return array(
    'modules' => array(
        'ZfSnapGeoip',
    ),
    'maxmind' => array(
        'database' => array(
            'regionvars' => __DIR__ .'/../vendor/geoip/geoip/geoipregionvars.php',
        ),
    ),
);